---
layout: archive
title: ""
permalink: /publications/
author_profile: true
---

<h1>Representative Publications</h1>
<ol>
<li><b>L.Z.C. Chen</b>, Y.K. Du, R.Q. Xu, M. Destrade, C.W. Lim, and W.Q. Chen. Fracture and crack-face stability of pre-deformed soft electroactive solids. <i><b>Journal of the Mechanics and Physics of Solids</b></i>, vol. 216, 106772, 2026. doi:<a href=https://doi.org/10.1016/j.jmps.2026.106772>10.1016/j.jmps.2026.106772</a> <b><font color="blue">[Potential theory method]</font></b></li> 
<li><b>L.Z.C. Chen</b>, C.W. Lim, and W.Q. Chen. Indentation response of a finite-sized three-dimensional layered cylinder. <i><b>International Journal of Solids and Structures</b></i>, vol. 325, 113695, 2025. doi:<a href=https://doi.org/10.1016/j.ijsolstr.2025.113695>10.1016/j.ijsolstr.2025.113695</a> <b><font color="blue">[Symplectic contact analysis]</font></b></li>
<li><b>L.Z.C. Chen</b>, C.W. Lim, and W.Q. Chen. Dual Hamiltonian transformation and magneto-electro-thermo-viscoelastic contact analysis. <i><b>International Journal of Mechanical Sciences</b></i>, vol. 290, 110077, 2025. doi:<a href=https://doi.org/10.1016/j.ijmecsci.2025.110077>10.1016/j.ijmecsci.2025.110077</a> <b><font color="blue">[Symplectic contact analysis]</font></b></li>
<li><b>L.Z.C. Chen</b> and W.Q. Chen. Symplectic contact analysis of a finite-sized horizontally graded magneto-electro-elastic plane. <i><b>Proceedings of the Royal Society A</b></i>, vol. 481, no. 2306, 2025. doi:<a href=https://doi.org/10.1098/rspa.2024.0591>10.1098/rspa.2024.0591</a> <b><font color="blue">[Symplectic contact analysis]</font></b></li>
</ol>

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}


<h1>Commissions of Trust</h1>
<ol>
<li><b>L.Z.C. Chen</b> and W.Q. Chen. Mathematical Formulation of Linear Elastic Fracture Mechanics. In: Handbook of Fracture Mechanics, edited by W. Yang, H.J. Gao, and X.Q. Feng. (pp. XXX-XXX), Singapore: Springer, 2026. <b><font color="990000">[invited contribution from <a href=https://scholar.google.com/citations?user=Hpg2NCcAAAAJ&hl=en&oi=ao>Prof. X.Q. Feng</a>]</font></b></li>
<li><b>L.Z.C. Chen</b>, Y.H. Chen, G.X. Zhu, J.Y. Li, and W.Q. Chen. Progress in contact analysis of finite-sized inhomogeneous media. Chinese Journal of Solid Mechanics, vol. 47, no. 4, pp. 443-454, 2026. doi:10.19636/j.cnki.cjsm42-1250/o3.2025.048 (in Chinese) <b><font color="990000">[invited contribution from <a herf=https://scholar.google.com/citations?user=z9wVxl4AAAAJ&hl=en&oi=ao>Prof. G.Z. Kang</a>]</font></b></li>
<li><b>L.Z.C. Chen</b>, G.X. Zhu, Y.H. Chen, C.W. Lim, and W.Q. Chen. AI-enabled high-throughput characterization of material properties based on indentation response. MechanoEngineering, vol. 1, no. 1, 014301, 2026. doi:10.1063/5.0284635 <b><font color="990000">[invited contribution from <a herf=https://scholar.google.com/citations?user=juE2qc0AAAAJ&hl=en&oi=ao>Prof. T.J. Lu</a>]</font></b></li>
<li><b>L.Z.C. Chen</b>, W.Q. Chen, and C.W. Lim. Symplectic contact analysis of a film-substrate system for high-throughput material characterization. Mechanics of Advanced Materials and Structures, vol. 32, no. 24, pp. 6098-6114, 2025. doi:10.1080/15376494.2025.2508354 <b><font color="990000">[invited contribution from <a href=https://scholar.google.com/citations?user=Hpg2NCcAAAAJ&hl=en&oi=ao>Prof. X.Q. Feng</a> in honor of Prof. J.N. Reddy’s 80th birthday]</font></b></li>
</ol>
<hr size=2 color=black width=1000>
<ol>
<li>Symplectic contact analysis of graded soft electroactive materials. The 32nd International Conference on Computational & Experimental Engineering and Sciences. Hongkong, China. August 7-12, 2026. <b><font color="990000">[invited talk from <a herf=https://scholar.google.com/citations?user=hdmsw78AAAAJ&hl=zh-CN&oi=ao>Prof. C.H. Linghu</a>]</font></b></li>
<li>Symplectic contact analysis for finite-sized bi-directionally graded plane with multi-field coupling. The 31st International Conference on Computational & Experimental Engineering and Science. Changsha, Hunan, China. May 26-29, 2025. <b><font color="990000">[invited keynote talk from <a herf=https://scholar.google.com/citations?user=Xk9oMnIAAAAJ&hl=en&oi=ao>Prof. K. Zhou</a>]</font></b> (on behalf of Prof. W.Q. Chen)</li>
</ol>


<h1>Collaborations</h1>
<ol>
<li>Y.F. Wang et al. Surface tension shapes the powerful water-conserving morphology of the trilayered rectal complex in insects. <i><b>Journal of the Mechanics and Physics of Solids</b></i>, vol. XXX, XXX, 2026. doi:XXX</li>
<li>Y. Zhang et al. Nonreciprocal transition waves in active lattices. <i><b>Journal of the Mechanics and Physics of Solids</b></i>, vol. 215, 106697, 2026. doi:<a href=https://doi.org/10.1016/j.jmps.2026.106697>10.1016/j.jmps.2026.106697</a></li>
</ol>

  
{% include base_path %}

<!-- New style rendering if publication categories are defined -->
<!--
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

-->


