---
layout: archive
title: ""
permalink: /talks/
author_profile: true
---
<h1>Invited Talks</h1>
<ol>
<li>Symplectic contact analysis of graded soft electroactive materials. The 32nd International Conference on Computational & Experimental Engineering and Sciences. Hongkong, China. August 7-12, 2026. <b><font color="990000">[invited talk from <a herf=https://scholar.google.com/citations?user=hdmsw78AAAAJ&hl=zh-CN&oi=ao>Prof. C.H. Linghu</a>]</font></b></li>
<li>Symplectic contact analysis for finite-sized bi-directionally graded plane with multi-field coupling. The 31st International Conference on Computational & Experimental Engineering and Science. Changsha, Hunan, China. May 26-29, 2025. <b><font color="990000">[invited keynote talk from <a herf=https://scholar.google.com/citations?user=Xk9oMnIAAAAJ&hl=en&oi=ao>Prof. K. Zhou</a>]</font></b> (on behalf of Prof. W.Q. Chen)</li>
</ol>


<!--
{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
-->
